{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<h4>Hello, {{ request.session.patient.name.0.text }}</h4>
<p>Total: {{ total }}</p>

{% if groups %}
<div class="row">
    {% for code, resources in groups.items %}
    <div class="col-md-6 md-container">
        <div class="md-raised-6px" style="height: 100%">
            <h4>{{ resources.0.code.text }}</h4>
            {% if resources|length > 0 %}
                {{ resources.plot.to_html|safe }}
            {% else %}

            {% endif %}

            {% for reference in entry.resource.referenceRange %}
            <p><i class="text-muted">{{ reference.text }}</i></p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if entries %}
<div class="row">
    {% for entry in entries %}
    <div class="col-md-3 md-container">
        <div class="md-raised-6px" style="height: 200px">
            <p>{{ entry.resource.code.text }}</p>
            <p><strong>{{ entry.resource.valueQuantity.value }}</strong></p>
            {% for reference in entry.resource.referenceRange %}
            <p><i class="text-muted">{{ reference.text }}</i></p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
